* {
  font-family: circular, sans-serif;
}


/* BUTTON HEAD PARTE CENTRALE  */
#button-after, #button-before {
  /* background-color: #141414 !important; */
  color: white;
  border: none;
  font-size: 1.4em;
}

#album-img{
  box-shadow: 5px 10px 25px 20px rgba(0,0,0,0.25)
}

.btn-success{
  background-color: #1ED760 !important;
}

/* ICONE DEL MENU FRIENDS A SCOMPARSA */
.icon-friend-list {
  font-size: 1.7em;
}
/* CARDS DEL MENU FRIENDS A SCOMPARSA */
#cards-friend {
  font-size: 70%;
}

.img-cards-friend {
  width: 80%;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /* MAIN SECTION INDEX PAGE */

  /* .gradient-bg {
    background: linear-gradient(to top, #121212, #212121);
  } */



/* FOOTER INDEX PAGE  */
  footer {
    height: 90px !important;
    position: fixed !important;
    bottom: 0px;
    width: 100%;
    background-color: #121212;
  }
  
  .fixedSize {
    height: 130px !important;
  }
  
  .imageUser {
    width: 30px;
  }
  
  .userName {
    font-size: 12px;
  }
  
  
  .album-cover {
    width: 25%;
  }
  
  .album-title {
    font-size: 5rem;
  }
  
  .imgPlayer {
    width: 65px
  }
  
  .barWhite {
    height: 4px !important;
    border-radius: 50px;
  }

  /* LOGO PROFILO OPTION  */
  #dropdownMenuButton1 {
    background-color: #0A0A0A;
    border: none;
    padding: 2px 0;
  }

  /* ICONE DEL MENU FRIENDS A SCOMPARSA */
  .icon-friend-list {
    font-size: 1.7em;
  }
/* CARDS DEL MENU FRIENDS A SCOMPARSA */
  #cards-friend {
    font-size: 70%;
  }

  .img-cards-friend {
    width: 80%;
  }

/* ------------------------------------------------------------- CSS PLAYER STYLING ------------------------------------------------  */
.playpause-track, .prev-track, .next-track {
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover, .seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

/* styling della linea */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: rgb(224, 12, 12);
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling del punto bianco riproduzione ( thumb ) */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 100%;
}

.seek_slider {  /* GRANDEZZA PLAYER LINEA */
  width: 60%;
}

.volume_slider { /* GRANDEZZA VOLUME LINEA */
  width: 60%;
}



