* {
font-family: 'Circular'!important;
}

nav {
  margin-top: 1em;
  background-color: #282828;
 font-size: 1em;
 color: #B2B2B2;
}

a.link-item {
  text-decoration: none;
  color: #B2B2B2;
  margin-bottom: 1em;
  display: inline-block;
  padding-left: 1em;
}

a.link-item:hover {
  background-color:  #333;
  color: white;
}

nav p {
  cursor: pointer;
  padding-left: 1em;
}


nav p:hover {
  background-color:  #333;
  color: white;
}

li {
  padding-left: 1em;
}

li:hover {
  background-color: #333;
  cursor: pointer;
}


/* LOGO PROFILO OPTION  */
#dropdownMenuButton1 {
  background-color: #0A0A0A;
  border: none;
  padding: 2px 0;
}

.dropdown-menu {
  background-color: #212529;
}

.dropdown-menu a {
  color: white;
}

/* ICONE DEL MENU FRIENDS A SCOMPARSA */
.icon-friend-list {
  font-size: 1.7em;
}

/* CARDS DEL MENU FRIENDS A SCOMPARSA */
#cards-friend {
  font-size: 70%;
}

.img-cards-friend {
  width: 80%;
}

.barWhite {
  height: 4px !important;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* STILE PER LA VISUALIZZAZIONE DI MODIFICA/ELIMINA PLAYLIST */

.playlist-font {
  font-size: 14px;
  font-weight: 300;
}
.context-menu {
  position: absolute;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 4px;
  z-index: 1000;
  width: 150px;
}

.context-menu div {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.context-menu div:hover {
  background-color: #555;
}

/* SEZIONE HERO */
#imageBackground {
  background-size: cover;
  background-repeat: no-repeat;
  height: 38vh;
  background-position: 0% 25%;
}

#followButton {
  font-size: 14px !important;
}
.btn-success {
  background-color: #1ED760 !important;
}

.album-cover {
  width: 25%;
}

.imgPlayer {
  width: 75px;
}

.gradient-bg {
  background: linear-gradient(to top, #121212, #212121);
}

#imgSm {
  width: 300px;
}

#imgSm img {
  border-radius: 50%;
}

/* SEZIONE BRANI POPOLARI */
#songsList {
  display: grid;
  grid-template-columns: 50px 60px 1fr 100px 100px;
  gap: 10px;
}

.track-row {
  display: contents;
}

.track-row:hover {
  /* background-color: #333; NON FUNZIONA */
  cursor: pointer;
}

.track-number {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-album {
  grid-column: 2;
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.track-title {
  grid-column: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.album-id {
  grid-column: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.duration-song {
  grid-column: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* FOOTER */
footer {
  height: 90px !important;
  position: fixed !important;
  bottom: 0px;
  width: 100%;
  background-color: #121212;
  z-index: 1000; 
}

.main-content {
  margin-bottom: 5vh;
}

.fixedSize {
  height: 130px !important;
}

.imageUser {
  width: 30px;
}

.userName {
  font-size: 12px;
}