* {
  font-family: circular, sans-serif;
}

nav {
  margin-top: 1em;
  background-color: #282828;
 font-size: 1em;
 color: #B2B2B2;
}

a.link-item {
  text-decoration: none;
  color: #B2B2B2;
  margin-bottom: 1em;
  display: inline-block;
  padding-left: 1em;
}

a.link-item:hover {
  background-color:  #333;
  color: white;
}

nav p {
  cursor: pointer;
  padding-left: 1em;
}


nav p:hover {
  background-color:  #333;
  color: white;
}

li {
  padding-left: 1em;
}

li:hover {
  background-color: #333;
  cursor: pointer;
}



/* STILE PER LA VISUALIZZAZIONE DI MODIFICA/ELIMINA PLAYLIST */
.context-menu {
  position: absolute;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 4px;
  z-index: 1000;
  width: 150px;
}

.context-menu div {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.context-menu div:hover {
  background-color: #555;
}

/* MODALI */
.modal-content {
  border: none;
}

.modal-header, .modal-footer {
  border: none;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /* MAIN SECTION INDEX PAGE */

  .gradient-bg {
    background: linear-gradient(to top, #121212, #212121);
  }

.btn-success{
  background-color: #1ED760 !important;
}

.gradient-bg-ads {
  background: linear-gradient(to right top, black, #212121);
}

/* Buonasera Section */
.box-hero {
  background-color: #2C2C2C;
}

.box-hero:hover {
  cursor: pointer;
  background-color: #555;
}

.playlist-container {
  width: 100px; 
  height: 100px; 
}

.image-item {
  width: 50%; 
  height: 50%; 
  object-fit: cover; 
}

/* CARDS INDEX PAGE */
.card {
  border: none;
  background-color: #181818;
}

.card:hover {
  background-color: #333;
  cursor: pointer;
}

.card-title {
  font-size: 14px;
}

.card-body {
  padding: 10px;
  
}

.full-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}


/* FOOTER INDEX PAGE  */
  footer {
    height: 90px !important;
    position: fixed !important;
    bottom: 0px;
    width: 100%;
    background-color: #121212;
  }
  
  .fixedSize {
    height: 130px !important;
  }
  
  .imageUser {
    width: 30px;
  }
  
  .userName {
    font-size: 12px;
  }
  
  
  .album-cover {
    width: 25%;
  }
  
  .album-title {
    font-size: 5rem;
  }
  
  .imgPlayer {
    width: 75px;
  }
  
  .barWhite {
    height: 4px !important;
    border-radius: 50px;
  }

  /* BUTTON HEAD PARTE CENTRALE  */
  #button-after, #button-before {
    background-color: #141414 !important;
    color: white;
    border: none;
    font-size: 1.4em;
  }

  /* LOGO PROFILO OPTION  */
  #dropdownMenuButton1 {
    background-color: #0A0A0A;
    border: none;
    padding: 2px 0;
  }

  .dropdown-menu {
    background-color: #212529;
  }

  .dropdown-menu a {
    color: white;
  }

  /* ICONE DEL MENU FRIENDS A SCOMPARSA */
  .icon-friend-list {
    font-size: 1.7em;
  }
/* CARDS DEL MENU FRIENDS A SCOMPARSA */
  #cards-friend {
    font-size: 70%;
  }

  .img-cards-friend {
    width: 80%;
  }

